.main-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이를 사용하여 화면 중앙에 메인 컴포넌트 배치 */
  }


.main-card {
    display: flex;
    justify-content: center;
    gap: 50px; /* 카드들 사이의 간격 조정 */
    flex-wrap: wrap; /* 카드가 너무 많아서 한 줄에 모두 배치되지 않을 경우 자동으로 다음 줄에 배치 */
  }
  
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.1);
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.9;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
  }

  .text-container p{
    font-size: medium;
  }

  .card-enter {
    opacity: 0.01;
    transform: scale(0.9);
  }
  
  .card-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  
  .card-exit {
    opacity: 1;
  }
  
  .card-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }
  