.main-bg {
  height: 100vh;
  background-image: url('./img/tech.jpg') ; 
  background-size: cover;
  background-position: center;
}


.sub-bg {
  padding-top: 100px;
}




.App {
  text-align: center;
}

